<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <meta charset="UTF=8">
    <title>Instagram</title>
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
<link rel="icon" href="{% static 'img/icon.png' %} ">
</head>
<body>
    <header>
        <div id = "left" class="left_box">
            <div class="favicon_frame">
                <img class="faviconFrame" src="{% static 'img/line_favicon.png' %}" alt="인스타 로고" />
            </div>
            <div class = "line">
                <img class = "logo" src="{% static 'img/logo_text.png' %}" alt = "인스타 글씨" />
            </div>
        </div>
        <div id= "right" class = "right_box">
            <div class = "heart_box">
                <img class = "heart" src = "{% static 'img/new.png' %}" alt = "글 작성" />
            </div>
            <div class ="myInfo_box">
                <img class = "myInfo" src = "{% static 'img/myinfo.png' %}" alt = "내 프로필" />
            </div>
        </div>
    </header>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset = "UTF-8">
        <title>Instagram</title>
     <link href = "{% static 'css/background.css' %}" rel = "stylesheet" type = "text/css" />
    <link href = "{% static 'css/feed.css' %}" rel = "stylesheet" type = "text/css" />
    <link rel = "icon" href = "{% static 'img/icon.png' %}" >
    </head>
    <body>
        {% for feed in feeds %}
            <div class = "main">
                <section class = "cardViewSection" >
                    <div class = "cardView">
                        <header>
                            <div class = "userNickName">LikeLionSSU</div>
                        </header>
                        <div class = "cardImage">
                            <img src = "{{feed.image.url}}" alt = "sample" >
                        </div>
        
        
                        <div class = "cardInfo" >
                            <div class = "infoLeft" >
                                <img class = "feedImg" src = "{% static 'img/liked.png' %}" alt = "좋아용" />
                                <img class = "feedImg" src = "{% static 'img/comment.png'}" alt = "코멘트" />
                                <img class = "feedImg" src = "{% static 'img/upload.png'}" alt = "업로드" />
                            </div>
                            <div class = "infoRight">
                                <img class = "feedImg" src = "{% static 'img/edit.png' %}" alt = "수정" />
                                <img class = "feedImg" src = "{% static 'img/delete.png' %}" alt = "삭제" />
                            </div>
                        </div>
                        <div class = "comment">
                            comment1<br>
                            comment2<br>
                        </div>
                        <div class = "comment_form" >
                            <form action = "" >
                                <input type = "text" placeholder = "댓글 입력.." id="input_text">
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        {% endfor %}
    </body>
    </head>
    </html>
</body>
</html>